@import "https://www.nerdfonts.com/assets/css/webfont.css";

/* maple-mono-latin-400-normal */
@font-face {
  font-family: 'Maple Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/maple-mono@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/maple-mono@latest/latin-400-normal.woff) format('woff');
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Maple Mono';
}

body {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0em 1.5em;

  color: #fff6d5;
  background-color: #141216;
  font-size: 1.5rem;
}

a {
  color: #d6cfc1;
}

main {
  width: 100%;
  max-width: 800px;
}

.card {
  background-color: #27232b;
  border-radius: 12px;
  padding: 1em 1.5em;
  margin-bottom: 0.5em;
}

.title {
  color: #d6cfc1;
  font-size: 1.5em;
}

.subtitle {
  color: #a1a1a1;
  font-size: 1em;
  margin: 0.25em 0 1em 0;
}

footer {
  position: fixed;
  bottom: 6px;
  color: #a1a1a1;
  font-size: 16px;
}

.social-card {
}

.links {
  display: flex;
  width: 50%;
  padding: 24px 4px;
  align-items: center;
}

.links a {
  padding-right: 2em;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.links a i {
  padding-right: 0.5em;
}

.stay-tuned {
  text-align: center;
  padding: 0.5em 0;
  color: #a1a1a1;
}